<div>
  <div
    class="arrow-left"
    style="
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-bottom: 50px solid transparent;

      border-right: 50px solid rgb(18, 185, 32);
    "
  ></div>
  <span></span>
  <img src="../../assets/terminal.png" class="terminal4" />4
  <div class="arrow-left"></div>
  <span></span>
  <img src="../../assets/terminal.png" />3
  <div class="arrow-left"></div>
  <span></span>
  <img src="../../assets/terminal.png" />2
  <div class="arrow-left"></div>
  <span></span>
  <img src="../../assets/terminal.png" />1
</div>
<div style="margin: 0px 0 0px 80px">
  <div class="spaceDown" style="margin: 0px 0 0px 130px"></div>
  <div class="arrow-up" style="margin: 0px 0 0px 175px"></div>
</div>
<div style="margin: 0px 0 0px 80px">
  <div class="arrow-down" style="margin: 0px 0 0px 100px"></div>
  <div class="spaceDown" style="margin: 0px 0 0px 175px"></div>
</div>

<div style="margin: 0px 0 0px 150px">
  <img src="../../assets/terminal.png" />5

  <div class="space"></div>
  <img src="../../assets/terminal.png" />8
</div>
<div>
  <div class="spaceDown2" style="margin: -50px 0 0px 180px"></div>
  <div class="arrow-down" style="margin: 80px 0 0px -70px"></div>

  <div class="spaceDown-right" style="margin: 0px 0 0px 80px"></div>
  <div
    class="spaceDown-right"
    style="transform: rotate(40deg); top: 0px; left: -60px"
  ></div>

  <div
    class="arrow-up"
    style="transform: rotate(40deg); top: -60px; left: -80px"
  ></div>
  <div
    class="arrow-down"
    style="transform: rotate(-45deg); top: 55px; left: -160px"
  ></div>
  <div class="spaceDown2" style="margin: 0px 0 0px -150px"></div>
  <div class="arrow-up" style="margin: -100px 0 0px -70px"></div>
</div>
<div class="inline" style="margin: 0px 0 0px 150px">
  <img src="../../assets/terminal.png" />6
  <div class="space"></div>

  <div><img src="../../assets/terminal.png" />7</div>
</div>
<h1 style="background-color: rgb(18, 185, 32)">Departured</h1>
<ng-Content></ng-Content>
